@import "../../css/variables";

.Message {
  position: relative;

  min-width: 200px;
  max-width: 50%;
  width: fit-content;
  padding: 15px 15px 30px;

  background-color: lighten($bodyColor, 5%);
  border-radius: 10px;

  &.SendByCurrentUser {
    align-self: flex-end;
  }

  h4 {
    color: #4FC154;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    word-wrap: break-word;
  }

  span {
    position: absolute;

    right: 15px;
    bottom: 15px;

    color: $attentionColor;
    font-size: 14px;
    font-weight: 400;
  }
}